<?xml version="1.0" ?>
<launch>
  <!--
    Spawn an instance of bbot into a Gazebo world

    Nodes:
      name: spawn_urdf
      pkg:  gazebo_ros
      type: spawn_model

    Publish:      

    Parameters:
      model_name:=  The name to give to the spawned model (required). 

    Usage:
      $ roslaunch bbot_gazebo bbot_spawn.launch model_name:=bbot
  -->
  <arg name="model_name" default="bbot"/>

  <!-- Load the URDF into the ROS parameter server -->
  <param name="robot_description"
    command="$(find xacro)/xacro '$(find bbot_description)/urdf/bbot.xacro'" />

  <!-- Spawn the URDF robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-param robot_description -urdf  -model $(arg model_name)" />

</launch>
