<?xml version="1.0"?>
<model>
  <name>Jubilee Cat</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A catamaran made from PVC tubing and Jubilee clips.
    
    The electrical box payload is adapted from
    https://fuel.gazebosim.org/1.0/nate/models/Electrical Box 
  </description>

</model>
