<!-- 
  Modifed from uuv_simulator/uuv_control_cascaded_pids/launch/joy_velocity.launch
-->
<launch>
  <arg name="model_name" />
  <arg name="uuv_name" default="$(arg model_name)"/>
  <arg name="joy_id" default="0"/>
  <arg name="output_topic" value="cmd_vel"/>
  <arg name="message_type" default="twist"/>

  <include file="$(find uuv_thruster_manager)/launch/thruster_manager.launch">
    <arg name="uuv_name" value="$(arg uuv_name)" />
    <arg name="model_name" value="$(arg model_name)" />
  </include>

  <group ns="$(arg uuv_name)">
    <rosparam file="$(find uuv_control_cascaded_pid)/config/$(arg model_name)/inertial.yaml" command="load"/>
    <rosparam file="$(find uuv_control_cascaded_pid)/config/$(arg model_name)/vel_pid_control.yaml" command="load"/>

    <node pkg="uuv_control_cascaded_pid" type="AccelerationControl.py" name="acceleration_control"
          output="screen">
      <param name="tf_prefix" type="string" value="$(arg uuv_name)/" />
    </node>

    <node pkg="uuv_control_cascaded_pid" type="VelocityControl.py" name="velocity_control"
        output="screen">
      <remap from="odom" to="/$(arg uuv_name)/pose_gt"/>
      <remap from="cmd_accel" to="/$(arg uuv_name)/cmd_accel"/>
    </node>
  </group>

  <!-- <include file="$(find uuv_teleop)/launch/uuv_teleop.launch">
    <arg name="uuv_name" value="$(arg uuv_name)"/>
    <arg name="joy_id" value="$(arg joy_id)"/>
    <arg name="deadman_button" default="$(arg deadman_button)"/>
    <arg name="output_topic" value="cmd_vel"/>
    <arg name="message_type" value="twist"/>
  </include> -->

  <group ns="$(arg uuv_name)">
    <node pkg="asv_teleop" type="teleop" name="joy_uuv_velocity_teleop">
      <remap from="output" to="/$(arg uuv_name)/$(arg output_topic)"/>
      <remap from="joy" to="/$(arg uuv_name)/joy"/>
      <rosparam subst_value="true">
        mapping:
          x:
            axis: 3
            gain: 0.3
          y: 
            axis: 2
            gain: 0.3
          z: 
            axis: 1
            gain: 0.3
          yaw: 
            axis: 0
            gain: 0.2
      </rosparam>
    </node>
  </group>
</launch>
