<?xml version="1.0" ?>
<robot name="tug_boat" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Math constants -->
  <xacro:property name="math_pi" value="3.141592653589793" />  

  <!-- Math macros -->
  <xacro:macro name="box_inertial" params="mass x y z">  
    <inertial>
      <mass value="${mass}" />
      <inertia 
        ixx="${mass * (y * y + z * z) / 12.0}" ixy="0.0" ixz="0.0"
        iyy="${mass * (z * z + x * x) / 12.0}" iyz="0.0"
        izz="${mass * (x * x + y * y) / 12.0}" />
    </inertial>
  </xacro:macro>  

  <!-- Constants for robot dimensions -->
  <xacro:property name="hull_mass" value="30000.0" />
  <xacro:property name="hull_loa" value="17.4" />  
  <xacro:property name="hull_woa" value="6.1" />  
  <xacro:property name="hull_doa" value="4.2" />
  <xacro:property name="thruster_mass" value="61" />
  <xacro:property name="thruster_size" value="0.2" />

  <!-- Import Gazebo elements -->
  <xacro:include filename="$(find tug_boat_description)/urdf/tug_boat.gazebo" />

  <!-- Base link (main hull) -->
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://tug_boat_description/meshes/tug_boat.stl"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <mesh filename="package://tug_boat_description/meshes/tug_boat_collision.stl"/>
      </geometry>
    </collision>
    
    <xacro:box_inertial mass="${hull_mass}" x="${hull_loa}" y="${hull_loa}" z="${hull_doa}" />
  </link>

  <!-- Thruster link -->
  <link name="thruster_link">
    <visual>
      <geometry>
        <box size="${thruster_size} ${thruster_size} ${thruster_size}"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="${thruster_size} ${thruster_size} ${thruster_size}"/>
      </geometry>
    </collision>
    
    <xacro:box_inertial mass="${thruster_mass}" x="${thruster_size}" y="${thruster_size}" z="${thruster_size}" />
  </link>

  <joint name="thruster_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="-6.5 0 0.5" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="thruster_link"/>
  </joint>

</robot>