<?xml version="1.0" ?>
<model>
  <name>Wakeboard Boat</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>printable_models</name>
  </author>
  <description>
    A Wakeboard Boat

    Source:
    Free3D
    https://free3d.com/3d-model/wakeboard-boat-v1--979173.html

    Wakeboard Boat V1
    Submitted by
    printable_models

    Personal Use License
  </description>
</model>
