<?xml version="1.0"?>
<robot name="bbot">

  <material name="orange">
    <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="10.0 4.0 2.0"/>
      </geometry>
      <material name="orange" />
    </visual>
    <collision>
      <geometry>
        <box size="10.0 4.0 2.0"/>
      </geometry>
    </collision>
      <!-- Mass and inertial assume volume is 0.25 densitity of water -->
    <inertial>
      <mass value="20000" />
      <inertia ixx="33333" ixy="0" ixz="0" iyy="173333" iyz="0" izz="193333" />
    </inertial>
  </link>

</robot>
