<?xml version="1.0" ?>
<model>
  <name>Tug Boat</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>printable_models</name>
  </author>
  <description>
    A Tug Boat

    Source:
    Free3D
    https://free3d.com/3d-model/boat-v2--225787.html

    Boat V2
    Submitted by
    printable_models

    Personal Use License
  </description>
</model>
