<?xml version="1.0"?>
<model>
  <name>Mooring</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A mooring: A spherical buoy tethered to a mooring block by a steel chain.
  </description>

</model>
